<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.instedd.geochat"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<uses-library android:name="com.google.android.maps" />
    
    	<provider android:name=".data.GeoChatProvider"
            android:authorities="org.instedd.geochat.provider.GeoChat"
        />
        
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name"
                  android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <activity android:name=".HomeActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  />
        <activity android:name=".GroupsActivity"
        		  android:label="@string/groups"
        		  android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".PeopleActivity"
        		  android:label="@string/people"
        		  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".MessagesActivity"
        		  android:label="@string/messages"
        		  android:theme="@android:style/Theme.NoTitleBar" />
       	<activity android:name=".MessagesActivityWithTitleBar"
        		  android:label="@string/messages" />
       	<activity android:name=".GroupActivity"
        		  android:label="@string/app_name" />
        		  
       	<activity android:name=".ComposeActivity"
                  android:label="@string/compose"
                  android:noHistory="true"
                  />
                  
        <activity android:name=".map.GeoChatMapActivity"
                  android:label="@string/map"
                  />
        		  
       	<service android:name=".sync.GeoChatService"
            android:exported="true"/>
    </application>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 